.header {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}
.h1 {
  font-size: 74px;
  margin: 0;
  color: #776e65;
font-weight: bold;
text-decoration: none;
}
.scoreAndRecord {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-gap: 5px;
}
.score,
.record {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #bbada0;
  padding: 0 10px;
  font-weight: bold;
  height: 57px;
  border: 1px solid black;
}


p {
    color: white;
    font-size: 25px;
  padding: 0;
  margin: 0 0;
  text-align: center;
}
.title{
    font-size: 15px;
}
.info{
}
.score2 {
  background: #eee4da;
  color: #776e65;
}
.score4 {
  background: #ede0c8;
  color: #776e65;
}
.score8 {
  background: #f2b179;
  color: #f9f6f2;
}
.score16 {
  background: #f59563;
  color: #f9f6f2;
}
.score32 {
  background: #f67c5f;
  color: #f9f6f2;
}
.score64 {
  background: #f65e3b;
  color: #f9f6f2;
}
.score128 {
  background: #edcf72;
  color: #f9f6f2;
}
.score256 {
  background: #edcc61;
  color: #f9f6f2;
}
.score512 {
  background: #edc850;
  color: #f9f6f2;
}
.score1024 {
  background: #edc53f;
  color: #f9f6f2;
}
.score2048 {
  background: #edc22e;
  color: #f9f6f2;
}
.score4096 {
  background: #ddaa05;
  color: #f9f6f2;
}
